.projTitle-container {
	/*font-size: 1.25rem;*/
}

.projTitle {
	font-size: 2rem;
}

.projTitle-year {
	display: inline;
	font-size: 1.25rem;
	color: var(--dullGrey);
}

.projTitle-github {
	display: inline;
	font-size: 1.25rem;
	color: var(--dullGrey);
}

.projTitle-githubLink {
	display: inline;
}
