.aliasSelector-container {
  color: var(--pink);
}

.aliasOption {
  font-size: 1.5rem;
  margin: 0.5rem 0;
  cursor: pointer;
  background: transparent;
  border: 0;
}

.aliasOption-College-Hill {
  color: var(--pink);
}

.aliasOption-Morphologist {
  color: var(--green);
}

.aliasOption-Fury {
  color: var(--purple);
}

.aliasOption.selected {
  font-size: 2rem;
  text-decoration: underline;
}

.aliasSelector-container {
  padding: 1rem 0;
  font-size: 1.25rem;
}

.aliasOption-divider {
  color: var(--gray);
  font-size: 1rem;
}