@use 'global';

.releasePage {

}

.releasePage-content {
  margin: 0.5rem 0 0 0;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background-size: cover;
  padding-bottom: 40px;
}

.releasePage-title {
  font-size: 2.5rem;
  margin-bottom: 0;
  letter-spacing: 10px;
  /*text-decoration: underline;*/
}

.releasePage-year {
  font-size: 1.5rem;
  margin: 10px 0;
}

.releasePage-label {
  font-size: 1.5rem;
  margin: 12px 0;
}

.releasePage-labelLabel,
.releasePage-genresLabel,
.releasePage-yearLabel
 {
  color: var(--dullGrey);
}

.releasePage-genres {
  font-size: 1.25rem;
  margin: 10px 0;
}

.releasePage-desc {
  font-size: 1.15rem;
  margin-bottom: 8px;
}

.releasePage-bandcamp {
  width: 100%;
  max-width: 700px;
}
.releasePage-header {
  width: 100%;
  text-align: center;
  backdrop-filter: blur(10px);
  /*border-radius: ;*/
}