.dolphinMod {
	padding: 20px 8px;
	display: flex;
	flex-direction: column;
	/*max-width: 700px;*/
	justify-content: center;
    align-items: center;
}

.dolphinMod-title {
	font-size: 3rem !important;
	margin: 0;
}

.dolphinMod-data {
	display: flex;
	flex-direction: row;
}

.dolphinMod-dataText {
	padding-left: 20px;
	text-align: left;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: flex-start;
}

.dolphinMod-download {
	font-size: 2rem;
	border: 2px solid var(--pink);
	padding: 6px;
	margin: 8px 0;
	border-radius: 4px;
	transition: background-color 100ms linear;
}

.dolphinMod-download:hover {
	color: black !important;
	background-color: var(--pink);
}

.dolphinMod-gameCover {
	height: 200px;
}

.dolphinMod-screenshots {
	display: flex;
	flex-direction: row;
}

.dolphinMod-gameId {
	color: var(--dullGrey);
	margin: 0 0 20px 0;
}