.screenshotCompare-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.screenshotCompare {
	display: block;
	position: relative;
	width: 100%;
	max-width: 600px;
}

.screenshotCompare-original {
	width: 100%;
}

.screenshotCompare-modded {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	opacity: 0;
}

.screenshotCompare.active .screenshotCompare-modded {
	opacity: 1;
}

.screenshotCompare-label {
	font-size: 1.25rem;
}

.screenshotCompare-thumbContainer {
	max-width: 100vw;
	overflow-x: scroll;
	display: flex;
	flex-direction: row;
	height: 100px;
}

.screenshotCompare-thumbImage {
	height: 100%;
}

.screenshotCompare-thumb {
	padding: 0;
	margin: 3px;
	cursor: pointer;
	height: calc(100% - 3px);
	border: 1px solid transparent;
	background-color: transparent;
}

.screenshotCompare-thumb:hover {
	border: 1px dotted var(--pink);
}

.screenshotCompare-thumb.active {
	border: 1px solid var(--pink);
}