.alias-title {
	font-size: 2rem;
	text-align: center;
}

.alias-releaseType {
	font-size: 1.75rem;
	text-align: center;
}

.alias-description {
	font-size: 1.5rem;
	text-align: center;
}

.alias-releases {
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	align-items: center;
	flex-wrap: wrap;
}

.alias-albums {
		.albumEmbed {
		max-width: 700px;
	};
}

.alias-eps {
		.albumEmbed {
		max-width: 700px;
	};
}

.alias-singles {
		.albumEmbed {
		max-width: 300px;
	};
}