.react-portfolio {
  font-family: 'Red Hat', sans-serif;
  font-size: 24px;
  margin: 0 auto;
  z-index: 0;
}

.reactPortfolio-modal {
  padding: 50px;
  justify-content: center;
  align-items: center;
  height: 100%;
  /*pointer-events: none;*/
  z-index: 10;
}
