.galleryPage.galleryItem {
	flex-basis: 12.5%;
}

.virtualPhotography-title {
	display: block;
	margin: auto;
	font-size: 3rem;
	text-align: center;
	letter-spacing: 10px;
	text-transform: lowercase;
}