.anchorLinks {
  font-size: 1.125rem;
  padding: 0 8px 4px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.anchorLinks-link {
  margin: 0 4px 12x;
  max-width: 175px;
  min-width: 100px;
  text-decoration: none;
  border-color: #888888;
  border-width: 0 0 1px 0;
  border-style: solid;
  justify-content: flex-end;
  display: flex;
  flex-direction: column;
}

.anchorLinks-link:hover {
  text-decoration: underline;
}

.react-portfolio {
  font-family: 'Red Hat', sans-serif;
  font-size: 24px;
  margin: 0 auto;
  z-index: 0;
}

.virtualPhotography-title {
  display: block;
  margin: auto;
  font-size: 3rem;
  text-align: center;
  letter-spacing: 10px;
  text-transform: lowercase;
  padding: 12px 0 4px;
}