.albumEmbed {
  margin: 0.5rem 0;
  max-width: 600px;
}

.albumEmbed-title {
  font-size: 2rem;
  /*text-decoration: underline;*/
}

.albumEmbed-year {
  font-size: 1.5rem;
}

.albumEmbed-genres {
  font-size: 1.25rem;
}

.albumEmbed-desc {
  font-size: 1.15rem;
}