@import "../styles/colors.module.css";

.wrapper {
  padding: 10px;
}

.user {
  align-items: center;
  display: flex;
  opacity: 0.5;
}

.userMe {
  font-weight: bold;
  opacity: 1;
}

.userOnline {
  opacity: 1;
}

.statusIndicator {
  background-color: var(--status-grey-500);
  border-radius: 8px;
  display: block;
  height: 8px;
  margin-right: 4px;
  width: 8px;
}

.statusIndicatorOnline {
  background-color: var(--status-green-500);
}
