@import "../styles/colors.module.css";

.pageWrapper {
  align-items: center;
  background: var(--primary-dark-700);
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
}
